.swiper {
    padding: 0 12px;
}
#marcas .swiper {
    padding: 0 10.8px;
}
.swiper-button-prev {
    left: -7px;
}
.swiper-button-next {
    right: -7px;
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 20px;
}