.swiper {
    padding: 0 11.8px;
}
#marcas .swiper {
    padding: 0 14.7px;
    width: 100%;
}
.swiper-button-prev {
    left: -7px;
}
.swiper-button-next {
    right: -7px;
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 20px;
}